# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Web-final\SOA-Part\.idea/dataSources/
/dataSources.local.xml
/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
